<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="col-10 offset-1 h-25" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="field-work-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Field work
                </a>
                <div class="dropdown-menu" aria-labelledby="field-work-dropdown">
                    <a class="dropdown-item" href="<%=`fieldWorkView?pid=${query.pid}`%>">FieldWork Report</a>
                    <a class="dropdown-item" href="#">데이터 수정</a>
                    <a class="dropdown-item" href="#">연동 설정</a>
                    <a class="dropdown-item" href="#">설문 테스트</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">응답 제외</a>
                    <a class="dropdown-item" href="#">응답 초기화</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="report-set-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Report</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="report-set-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ReportSet
                </a>
                <div class="dropdown-menu" aria-labelledby="report-set-dropdown">
                    <a class="dropdown-item" href="#">미리보기</a>
                    <a class="dropdown-item" href="#">리포트 설정</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">배포 리포트링크</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="<%=`quotaView?pid=${query.pid}`%>" id="quota-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quota</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="quota-set-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    QuotaSet
                </a>
                <div class="dropdown-menu" aria-labelledby="quota-set-dropdown">
                    <a class="dropdown-item" href="<%=`quota?pid=${query.pid}`%>">쿼터 설정</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="<%=`quotaDist?pid=${query.pid}`%>">배포 쿼터링크</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="download-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                </a>
                <div class="dropdown-menu" aria-labelledby="download-dropdown">
                    <a class="dropdown-item" href="#">Column guide</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">SPSS - DataChecking</a>
                    <a class="dropdown-item" href="#">SPSS - Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Data - Complete</a>
                    <a class="dropdown-item" href="#">Data - Entire</a>
                    <a class="dropdown-item" href="#">Data - Status</a>
                </div>
            </li>
        </ul>
    </div>
</nav>