
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body class="bg-secondary">
<div class="container-fluid mb-4">
    <h1><%= message%></h1>
</div>
</body>
</html>